/**{
	margin: 0;padding: 0;
	cursor: pointer;
}*/
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.div{
	width: 100%;
	/*height:70%;*/
	height:74%;
	position: relative;
	overflow: hidden;
}
.bg_1{
	/*background:url(../img/bg_redrain.png) no-repeat;*/
	/*background-size: cover;*/
	background:url(../img/backguound-01.jpg) no-repeat center;
	background-size: 101% 101%;
}
.bg_2{
	background: url(../img/bg_redrain2.png) no-repeat;
	background-size: cover;
}
.div > div{
	width: 104px;
	height: 114px;
	position: absolute;
	top: 0;
	right: 0;
	/*background: red;*/
	/*background: url(../images/test_package.png) no-repeat;
	background-size: 100%;*/
	background-image: url(../img/icon_package.png);
	background-repeat: no-repeat;
	background-size: 200px 277px;
	background-position: 0px -1px;
	/*background-position: 0px -100px;*/
	
}
/*.div > div > div{
	width: 60px;
	height: 80px;
	
	background: url(../images/test_package.png) no-repeat;
	background-size: 100%;
	position: absolute;
	top: -2px;
	right: -2px;
}*/